<section class="main-content">
  <div id="about">
    <h2>ABOUT OUR SERVICES</h2>
  </div>


  <aside id="events">
    <h2>
      <a href="/events"> UPCOMING EVENTS</a>
      <ol>
        <li>Event One </li>
        <li>Event Two</li>
        <li>Event Three</li>
      </ol>
    </h2>
  </aside>
</section>