<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aupair Friend Searcher</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>


  <header>
    <nav>
      <a href="/">HOME</a>
      <a href="/locations">LOCATIONS</a>
      <a href="/events">EVENTS</a>
      <a href="/about">ABOUT</a>
      <a href="/advice">ADVICE</a>
    </nav>


    <form id="sign-in">

      <div>
        USERNAME<input type="email" placeholder="username"> PASSWORD
        <input type="password" placeholder="password">
      </div>
      <a href="/create">CREATE AN ACCOUNT</a>

    </form>

  </header>


  {{{body}}}

</body>

</html>