<section class="intro">
  <h1>LOCATIONS</h1>
  <p>Click on the arrondissment to find people who live near you</p>
</section>

<section id="locations">
  <div>
    <a href="https://en.wikipedia.org/wiki/1st_arrondissement_of_Paris"> <img src="/images/first-arr.jpg" alt="Rue Rivoli"></a>
  </div>
  <div> <a href="https://en.wikipedia.org/wiki/2nd_arrondissement_of_Paris"><img src="/images/second-arr.jpg" alt=""></a>
  </div>
  <div><a href="https://en.wikipedia.org/wiki/3rd_arrondissement_of_Paris"> <img src="/images/third-arr.jpg" alt=""></a></div>
  <div>
    <a href="https://en.wikipedia.org/wiki/4th_arrondissement_of_Paris"> <img src="/images/fourth-arr.jpg" alt=""></a>
  </div>
  <div><a href="https://en.wikipedia.org/wiki/5th_arrondissement_of_Paris"><img src="/images/5th-arr.jpg" alt=""> </a></div>
  <div> <a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/6th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/7th_arrondissement_of_Paris"> <img src="/images/7th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/8th_arrondissement_of_Paris"> <img src="/images/8th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/9th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/10th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/11th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/12th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/13th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/14-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/4th_arrondissement_of_Paris"> <img src="/images/15th-arr.jpeg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/16-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/17th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/18th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/19th-arr.jpg" alt=""></a></div>
  <div><a href="https://en.wikipedia.org/wiki/6th_arrondissement_of_Paris"> <img src="/images/20th-arr.jpg" alt=""></a></div>
</section>