<section class="intro">
  <h1>LOCATIONS</h1>
  <p>Click on the arrondissment to find people who live near you</p>
</section>

<section id="locations">
  <div>
    <img src="/images/first-arr.jpg" alt="Rue Rivoli">
  </div>
  <div>SECOND arrondissement</div>
  <div>THIRD arrondissement</div>
  <div>FOURH</div>
  <div>FIFTH</div>
  <div>SIXTH</div>
  <div>SEVENTH</div>
  <div>EIGHTH</div>
  <div>NINTH</div>
  <div>TENTH</div>
  <div>ELEVENTH</div>
  <div>TWELVTH</div>
  <div>THIRTEENTH</div>
  <div>FOURTEEN</div>
  <div>FIFTEENTH</div>
  <div>SIXTEENTH</div>
  <div>SEVENTEENTH</div>
  <div>EIGHTEENTH</div>
  <div>NINETEENTH</div>
  <div>TWENTYTH</div>
</section>